.modal {
  margin: 1.88rem;
  width: 20.4375rem;
  height: 35.75rem;
  border-radius: 0.3125rem;
  background-color: var(--pkdx-surface-bright-color);

  &__backdrop {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: auto;
  }
}

body {
  &.modal {
    &--open {
      overflow: hidden;
    }
  }
}

@media (min-width: 768px) {
  .modal {
    margin: 1.875rem;
    width: 36.875rem;
    height: 43.75rem;
  }
}
