.btn {
  width: fit-content;
  padding: 0.6875rem 1.25rem;
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
}

.btn__primary {
  border: 0.0625rem solid var(---pkdx-primary-color);
  border-radius: 3.75rem;
  background-color: var(--pkdx-primary-color);

  &:hover,
  &:focus {
    border: 0.0625rem solid var(--pkdx-on-hover-color);
    background-color: var(--pkdx-on-hover-color);
  }
}