:root {
  --btn-primary: #F22539;
  --btn-secondary: #C00E20;
  --fav-primary: #ECA539;
  --fav-background: #F5F5F5;
  --btn-fav-disabled: #BFBFBF;
  --font-primary: #353535;
  --font-secondary: #5E5E5E;
  --background-primary: #E8E8E8;
  --background-secondary: #F9F9F9;
  --font-size: 16px;
  --font-family: "Lato", sans-serif;
}