main {
  /* Modelo de caja */
  width: 100%;
  min-width: 320px;
  height: 100vh;
  /* Tipografía */
  color: var(--font-primary);
  text-align: center;
  /* Visuales */
  background-color: var(--background-primary);
}