<div class="detail-modal__content">
  <p>
    <span class="detail-modal__content--key">Name: </span> <span class="detail-modal__content--value">{{ name }}</span>
  </p>
  <div class="divider"></div>
  <p>
    <span class="detail-modal__content--key">Weight: </span> <span class="detail-modal__content--value">{{ getWeight() }}</span>
  </p>
  <div class="divider"></div>
  <p>
    <span class="detail-modal__content--key">Height: </span> <span class="detail-modal__content--value">{{ getHeight() }}</span>
  </p>
  <div class="divider"></div>
  <p>
    <span class="detail-modal__content--key">Types: </span> <span class="detail-modal__content--value">{{ getTypes() }}</span>
  </p>
  <div class="divider"></div>
</div>
