.detail-modal {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    padding: 2rem;

    &--key {
      font-weight: 600;
    }

    &--value {
      text-transform: capitalize;
    }
  }
}