$default-padding: 0.625rem;
$default-radius: 0.3125rem;

.list {
  &__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $default-padding;
  font-size: 1.25rem;
  text-transform: capitalize;
  border-radius: $default-radius;
  background-color: var(--pkdx-surface-bright-color);}

  &--title {
    cursor: pointer;
    width: -webkit-fill-available;
    text-align: left;
  }
}
