<section class="home__container">
  <app-search
    class="search"
    [searchControl]="searchControl"></app-search>
  <app-list
    class="list"
    [pokemonList]="pokemonList"
    [favouritePokemonList]="favouritePokemonList"
    [filteredPokemonList]="filteredPokemonList"
    (onUpdateFavouritesListEmitter)="onUpdateFavouritesList($event)"
    (onScrollEmitter)="onScroll()"></app-list>
  <app-filters
    class="filter"
    [showFavourites]="showFavourites"
    (onShowAllEmitter)="onShowAll()"
    (onShowFavouritesEmitter)="onShowFavourites()"></app-filters>
</section>
<app-modal id="detail">
  <app-detail-modal></app-detail-modal>
</app-modal>
