$default-padding: 0.625rem;
$default-radius: 0.3125rem;

.list {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    height: calc(100vh - 12rem);
    overflow: auto;

    app-list-item {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
    }
  }
}
