$default-padding: 0.625rem;
$default-radius: 0.3125rem;

.list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1.875rem;

  .form {
    width: 100%;
    margin-bottom: 2rem;

    &__group {
      display: flex;
      flex-direction: row;
    }

    &--preppend {
      padding: $default-padding 0 $default-padding $default-padding;
      background-color: var(--pkdx-surface-bright-color);
      border-top-left-radius: $default-radius;
      border-bottom-left-radius: $default-radius;
    }

    input {
      padding: $default-padding;
      width: -webkit-fill-available;
      font-size: 1rem;
      background-color: var(--pkdx-surface-bright-color);
      border: none;
      border-top-right-radius: $default-radius;
      border-bottom-right-radius: $default-radius;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: $default-padding;
    width: 100%;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $default-padding;
      font-size: 1.25rem;
      border-radius: $default-radius;
      background-color: var(--pkdx-surface-bright-color);
    }
  }
}

.filter {
  &__container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
    background-color: var(--pkdx-surface-bright-color);
    border: 0.063rem solid var(--pkdx-surface-bright-color);
  }

  &__inner {
    display: inherit;
    justify-content: center;
    gap: 1em;
    margin: auto;
    width: 40.625rem;
  }
}

@media (min-width: 768px) {
  .list__container {
    margin: auto;
    width: 40.625rem;
  }

  .filter {
    &__inner {
      .btn {
        width: 18.125rem;
      }
    }
  }
}
