<section class="list__container">
  <form class="form">
    <div class="form__group shadow">
      <div class="form--preppend">
        <img src="../../../assets/icons/search.svg" />
      </div>
      <input type="text" name="search" placeholder="Search" />
    </div>
  </form>
  <ul class="list">
    <li *ngFor="let pokemon of pokemonList" class="list__item">
      <p class="list--title">{{ pokemon.name }}</p>
      <button
        class="btn-rounded"
        [ngClass]="{ 'btn-rounded--favourite': pokemon.favourite }"
        (click)="onAddToFavourites(pokemon.id)">
      </button>
    </li>
  </ul>
</section>
<section class="filter__container shadow">
  <div class="filter__inner">
    <button class="btn btn--primary" [disabled]="showFavourites"><img src="../../../assets/icons/all.svg" />All</button>
    <button class="btn btn--primary" [disabled]="!showFavourites"><img src="../../../assets/icons/star.svg" />Favourites</button>
  </div>
</section>
