<section>
  <form class="form">
    <div class="form__group">
      <div class="form--preppend">
        <img src="../../../assets/icons/search.svg" />
      </div>
      <input type="text" name="search" placeholder="Search" />
    </div>
  </form>
  <ul class="list">
    <li class="list__item">
      <p class="list--title">Bulbasaur</p>
      <button class="list--favorite"><img src="../../../assets/icons/star.svg" /></button>
    </li>
    <li class="list__item">
      <p class="list--title">Ivysaur</p>
      <button class="list--favorite"><img src="../../../assets/icons/star.svg" /></button>
    </li>
    <li class="list__item">
      <p class="list--title">Venasaur</p>
      <button class="list--favorite"><img src="../../../assets/icons/star.svg" /></button>
    </li>
  </ul>
</section>
<section>
  <button><img src="../../../assets/icons/all.svg" />All</button>
  <button><img src="../../../assets/icons/star.svg" />Favorites</button>
</section>
