@import '../src/styles/variables';
@import '../src/styles/buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--pkdx-font-size);
  font-family: var(--pkdx-font-family);
  color: var(--pkdx-on-surface-color);
}
