@import '../src/styles/variables';
@import '../src/styles/buttons';
@import '../src/styles/utils';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--pkdx-font-size);
  font-family: var(--pkdx-font-family);
  color: var(--pkdx-on-surface-color);
}

app-modal {
  display: none;
}
