@import '../src/styles/variables';
@import '../src/styles//buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}
