.shadow {
  -webkit-box-shadow: 0px 0px 8px 1px rgba(53, 53, 53, 0.1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(53, 53, 53, 0.1);
  box-shadow: 0px 0px 8px 1px rgba(53, 53, 53, 0.1);
}

.divider {
  border: 0.0625rem solid var(--pkdx-platinum-hex-color)
}

.shake {
  animation: Shake 0.5s linear infinite;
}

/*Using keyframes for shaking an image*/
@keyframes Shake {
  0% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-6deg);
  }

  100% {
    transform: rotate(5deg);
  }
}